<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>Hi! I'm Shachindra.</h1>
        <p>These are some of the Node applications deployed to Heroku.</p>
    </div>
    </div>

</body>
</html>