<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <a href="/" class="lang-logo">
                <img src="/lang-logo.png">
            </a>
            <h1>Dev Center</h1>
            <p>Developer's Zone.</p>
        </div>
    </div>

</body>
</html>