<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>My NodeJS Applications</h1>
    <p>This is a sample Node application deployed to Heroku.</p>
    <a type="button" class="btn btn-lg btn-primary" href="getting-started-nodejs-heroku.ejs"><span class="glyphicon glyphicon-download"></span> Getting Started with NodeJS Heroku</a>
  </div>
</div>

</body>
</html>