<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>My NodeJS Applications</h1>
    <p>These are some of the Node applications deployed to Heroku.</p>
  </div>
  <ul>
    <li><a type="button" class="btn btn-lg btn-primary" href="getting-started-nodejs-heroku"> 1. Getting Started with NodeJS Heroku</a></li>
    <li><a type="button" class="btn btn-lg btn-primary" href="flight-bookings"> 2. Flight Bookings</a></li>
  </ul>
</div>

</body>
</html>